<head>
  <meta charset="utf-8" />
  <title>GOV.UK - The best place to find government services and information</title>

  <!--[if gt IE 8]><!--><link href="{{ site.baseurl }}/assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <!--[if IE 6]><link href="{{ site.baseurl }}/assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="{{ site.baseurl }}/assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 8]><link href="{{ site.baseurl }}/assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="{{ site.baseurl }}/assets/stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />
  <link href="{{ site.baseurl }}/css/main.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if IE 8]>
  <script>
    (function(){if(window.opera){return;}
     setTimeout(function(){var a=document,g,b={families:(g=
     ["nta"]),urls:["{{ site.baseurl }}/assets/stylesheets/fonts-ie8.css"]},
     c="{{ site.baseurl }}/assets/javascripts/vendor/goog/webfont-debug.js",d="script",
     e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
     ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
     .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
    })()
  </script>
  <![endif]-->
  <!--[if gte IE 9]><!--><link href="{{ site.baseurl }}/assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ site.baseurl }}/assets/javascripts/ie.js"></script><![endif]-->

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/assets/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/apple-touch-icon-60x60.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ site.baseurl }}/assets/images/opengraph-image.png">


</head>
